<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <link rel="stylesheet" href="../reset.css" />
    <link rel="stylesheet" href="../homecss/home.css" />
    <link rel="stylesheet" href="../homecheckbox.css " />
    <script src="../homecss/home.js "></script>
    <title>Home Pizaa Good</title>
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="container heading-header">
          <h1 class="name-heading">OUR SIGNATURE</h1>
        </div>
      </header>
      <main class="main">
        <div class="container">
          <ul class="signature-list">
            <li class="signature-item image1">
              <div class="checkbox-round1">
                <input type="checkbox" id="checkbox" />
                <label for="checkbox" id="adddata"></label>
              </div>
              <img src="img/1.png" alt="" class="sinature-images" />
              <img src="img/test1.png" alt="" class="train" />
              <h3 class="signature-name">Veggie Mania</h3>
            </li>
            <div class="line"></div>
            <li class="signature-item image2">
              <div class="checkbox-round2">
                <input type="checkbox" id="checkbox2" />
                <label for="checkbox2"></label>
              </div>
              <img src="img/2.png" alt="" class="sinature-images" />
              <img src="img/test2.png" alt="" class="train" />
              <h3 class="signature-name">Seafood Delight</h3>
            </li>
            <div class="line"></div>
            <li class="signature-item image3">
              <div class="checkbox-round3">
                <input type="checkbox" id="checkbox3" />
                <label for="checkbox3"></label>
              </div>
              <img src="img/3.png" alt="" class="sinature-images" />
              <img src="img/test3.png" alt="" class="train" />
              <h3 class="signature-name1">Meet Lovers</h3>
            </li>

            <li class="signature-item image4">
              <div class="checkbox-round4">
                <input type="checkbox" id="checkbox4" />
                <label for="checkbox4"></label>
              </div>
              <img src="img/Prime Beef.png" alt="" class="sinature-images" />
              <img src="img/test4.png" alt="" class="train" />
              <h3 class="signature-name1">Prime Beef</h3>
            </li>
            <div class="line"></div>
            <li class="signature-item image5">
              <div class="checkbox-round5">
                <input type="checkbox" id="checkbox5" />
                <label for="checkbox5"></label>
              </div>
              <img src="img/Bacon Kid.png" alt="" class="sinature-images" />
              <img src="img/test5.png" alt="" class="train" />
              <h3 class="signature-name1">Bacon Kid</h3>
            </li>
            <div class="line"></div>
            <li class="signature-item image6">
              <div class="checkbox-round6">
                <input type="checkbox" id="checkbox6" />
                <label for="checkbox6"></label>
              </div>
              <img src="img/Greenie.png" alt="" class="sinature-images" />
              <img src="img/test6.png" alt="" class="train" />
              <h3 class="signature-name11">Greenie</h3>
            </li>
            <li class="signature-item image7">
              <div class="checkbox-round7">
                <input type="checkbox" id="checkbox7" />
                <label for="checkbox7"></label>
              </div>
              <img src="img/7.png" alt="" class="sinature-images" />
              <img src="img/test7.png" alt="" class="train" />
              <h3 class="signature-name">Extravagaza</h3>
            </li>
            <div class="line"></div>
            <li class="signature-item image8">
              <div class="checkbox-round8">
                <input type="checkbox" id="checkbox8" />
                <label for="checkbox8"></label>
              </div>
              <img src="img/8.png" alt="" class="sinature-images" />
              <img src="img/test8.png" alt="" class="train" />
              <h3 class="signature-name">Anchovy Adict</h3>
            </li>
            <div class="line"></div>
            <li class="signature-item image9">
              <div class="checkbox-round9">
                <input type="checkbox" id="checkbox9" />
                <label for="checkbox9"></label>
              </div>
              <img src="img/9.png" alt="" class="sinature-images" />
              <img src="img/test9.png" alt="" class="train" />
              <h3 class="signature-name1">Saigon Pizza</h3>
            </li>
            <li class="signature-item image10">
              <div class="checkbox-round10">
                <input type="checkbox" id="checkbox10" />
                <label for="checkbox10"></label>
              </div>
              <img src="img/10.png" alt="" class="sinature-images" />
              <img src="img/test10.png" alt="" class="train" />
              <h3 class="signature-name1">Fruity Pig</h3>
            </li>
            <div class="line"></div>
            <li class="signature-item image11">
              <div class="checkbox-round11">
                <input type="checkbox" id="checkbox11" />
                <label for="checkbox11"></label>
              </div>
              <img src="img/11.png" alt="" class="sinature-images" />
              <img src="img/test11.png" alt="" class="train" />
              <h3 class="signature-name1">Pepperoni</h3>
            </li>
            <div class="line"></div>
            <li class="signature-item image12">
              <div class="checkbox-round12">
                <input type="checkbox" id="checkbox12" />
                <label for="checkbox12"></label>
              </div>
              <img src="img/12.png" alt="" class="sinature-images" />
              <img src="img/test12.png" alt="" class="train" />
              <h3 class="signature-name11">Cheese</h3>
            </li>
          </ul>
        </div>
      </main>
      <footer class="footer">
        <div class="container footer-container">
          <div class="footer-buttons1">
            <a href="size.ejs" class="btn"> Oder </a>
          </div>
          <div class="footer-buttons2">
            <a href="size.ejs" class="btn"> Create your own </a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
