<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../begin.css" />
    <link rel="stylesheet" href="../main.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Comfortaa"
      rel="stylesheet"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Complete</title>
  </head>
  <body>
    <div class="banner">
      <img src="img/ banner.png" alt="" />
    </div>
    <div class="conten">
      <p>ORDER SUCCESSFUL!</p>
    </div>
    <div class="button">
      <a href=""><button>Tracking your order</button></a>
      <a href="home.ejs"><button>Keep Order</button></a>
    </div>
  </body>
</html>
