img {
  margin-top: 80px;
  width: 400px;
  height: 500px;
}
.banner,
.conten,
.button {
  text-align: center;
}
.button {
  font-size: 30px;
}
button {
  width: 150px;
  height: 50px;
  border: 1px solid #a45d51;
  background-color: white;
  color: #a45d51;
}
button:hover {
  background-color: #a45d51;
  color: white;
}
